<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <!-- Add this line to link to a favicon -->
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
      crossorigin="anonymous" 
      referrerpolicy="no-referrer" />

    <title>Admin Panel | {{ page_title }}</title>
</head>
<body class="bg-bg-light font-sans antialiased"> 
    
    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</body>
</html>